### Pandas

#### DataFrame 사용해보기

In [1]:
import pandas as pd

In [2]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91]]

In [7]:
my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'eng', 'math'], index=['a', 'b', 'c'])
my_df

       name  eng  math
a  dongwook   50    86
b    sineui   89    31
c   ikjoong   68    91

In [4]:
type(my_df)

pandas.core.frame.DataFrame

In [8]:
my_df.columns

Index(['name', 'eng', 'math'], dtype='object')

In [9]:
my_df.index

Index(['a', 'b', 'c'], dtype='object')

In [10]:
my_df.dtypes

name    object
eng      int64
math     int64
dtype: object

2차원 리스트나 2차원 numpy array, Pandas Series를 담고 있는 리스트, Dictionary로도 DataFrame을 만들 수 있음

#### csv 읽어들이기

In [16]:
import pandas as pd

iphone_df = pd.read_csv('iphone.csv', index_col=0)

## 헤더가 없는 경우 read_csv(header = None) 입력

In [17]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [18]:
type(iphone_df)

pandas.core.frame.DataFrame

#### DataFrame 인덱싱

In [19]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

In [20]:
iphone_df.loc['iPhone X']

출시일        2017-11-03
디스플레이             5.8
메모리               3GB
출시 버전        iOS 11.1
Face ID           Yes
Name: iPhone X, dtype: object

In [21]:
type(iphone_df.loc['iPhone X'])

pandas.core.series.Series

In [22]:
iphone_df.loc[:, '출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [23]:
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [24]:
type(iphone_df['출시일'])

pandas.core.series.Series

#### 카드사 고객 분석

데이터의 중요성을 깨달은 “삼송카드”와 “현디카드”가 협업을 하기로 결정했습니다.

두 카드사는 사람들이 요일별로 지출하는 평균 금액을 “요일”, “식비", “교통비”, “문화생활비”, “기타” 카테고리로 정리해서 우리에게 공유해 주기로 했는데요. 각각 samsong.csv 파일과 hyundee.csv 파일을 보냈습니다.

두 회사의 데이터를 활용해서, 사람들의 요일별 문화생활비를 분석해보려 합니다. 아래와 같은 형태로 출력이 되도록 DataFrame을 만들어보세요.

In [25]:
import pandas as pd

samsong_df = pd.read_csv('samsong.csv')
hyundee_df = pd.read_csv('hyundee.csv')

# 코드를 작성하세요.

day_series = samsong_df.loc[:, '요일']
sam_series = samsong_df.loc[:, '문화생활비']
hyun_series = hyundee_df.loc[:, '문화생활비']

new_df = {
    'day' : day_series,
    'samsong' : sam_series,
    'hyundee' : hyun_series
}

df = pd.DataFrame(new_df)
df

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925

In [26]:
iphone_df.loc[['iPhone X', 'iPhone 8']]

                 출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No

In [27]:
type(iphone_df.loc[['iPhone X', 'iPhone 8']])

pandas.core.frame.DataFrame

In [28]:
iphone_df[['Face ID', '출시일', '메모리']]

              Face ID         출시일  메모리
iPhone 7           No  2016-09-16  2GB
iPhone 7 Plus      No  2016-09-16  3GB
iPhone 8           No  2017-09-22  2GB
iPhone 8 Plus      No  2017-09-22  3GB
iPhone X          Yes  2017-11-03  3GB
iPhone XS         Yes  2018-09-21  4GB
iPhone XS Max     Yes  2018-09-21  4GB

In [29]:
iphone_df.loc['iPhone 8':'iPhone XS']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes

In [33]:
iphone_df.loc[[True, False, True, True, False, False, True]]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [38]:
iphone_df.loc[:, [True, True, False, True, True]]

                      출시일  디스플레이     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  iOS 10.0      No
iPhone 8       2017-09-22    4.7  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  iOS 11.0      No
iPhone X       2017-11-03    5.8  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  iOS 12.0     Yes

In [39]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [41]:
iphone_df.loc[iphone_df['Face ID'] == 'Yes']

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [44]:
condition = (iphone_df['디스플레이'] > 5) & (iphone_df['Face ID'] == 'Yes')

In [45]:
condition

iPhone 7         False
iPhone 7 Plus    False
iPhone 8         False
iPhone 8 Plus    False
iPhone X          True
iPhone XS         True
iPhone XS Max     True
dtype: bool

In [46]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [47]:
iphone_df.iloc[2, 4]

'No'

In [48]:
iphone_df.iloc[[1, 3], [1, 4]]

               디스플레이 Face ID
iPhone 7 Plus    5.5      No
iPhone 8 Plus    5.5      No

In [49]:
iphone_df.iloc[3:, 1:4]

               디스플레이  메모리     출시 버전
iPhone 8 Plus    5.5  3GB  iOS 11.0
iPhone X         5.8  3GB  iOS 11.1
iPhone XS        5.8  4GB  iOS 12.0
iPhone XS Max    6.5  4GB  iOS 12.0

#### 데이터 변형하기

In [50]:
iphone_df.loc['iPhone 8', '메모리'] = '2.5GB'
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [51]:
iphone_df.loc['iPhone 8', '출시 버전'] = 'iOS 10.3'
iphone_df

                      출시일  디스플레이    메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7    2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5    3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2.5GB  iOS 10.3      No
iPhone 8 Plus  2017-09-22    5.5    3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8    3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8    4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5    4GB  iOS 12.0     Yes

In [52]:
iphone_df.loc['iPhone 8'] = ['2016-09-22', '4.7', '2GB', 'iOS 11.0', 'No']
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16   5.5  3GB  iOS 10.0      No
iPhone 8       2016-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22   5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03   5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21   5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21   6.5  4GB  iOS 12.0     Yes

In [53]:
iphone_df['디스플레이'] = [
    '4.7 in', '5.5 in', '4.7 in', '5.5 in', '5.8 in', '5.8 in', '6.5 in'
]
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0      No
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0      No
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [54]:
iphone_df['Face ID'] = 'Yes'

In [56]:
iphone_df

                      출시일   디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16  4.7 in  2GB  iOS 10.0     Yes
iPhone 7 Plus  2016-09-16  5.5 in  3GB  iOS 10.0     Yes
iPhone 8       2016-09-22  4.7 in  2GB  iOS 11.0     Yes
iPhone 8 Plus  2017-09-22  5.5 in  3GB  iOS 11.0     Yes
iPhone X       2017-11-03  5.8 in  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21  5.8 in  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21  6.5 in  4GB  iOS 12.0     Yes

In [57]:
iphone_df[['디스플레이', 'Face ID']] = 'x'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [58]:
iphone_df.loc[['iPhone 7', 'iPhone X']] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2016-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [60]:
iphone_df.loc['iPhone 7':'iPhone X'] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus           o     o    o         o       o
iPhone 8                o     o    o         o       o
iPhone 8 Plus           o     o    o         o       o
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

In [61]:
new_df = pd.read_csv('iphone.csv')
new_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [64]:
new_df.loc[new_df['디스플레이'] > 5] = 'p'
new_df

  Unnamed: 0         출시일 디스플레이  메모리     출시 버전 Face ID
0   iPhone 7  2016-09-16   4.7  2GB  iOS 10.0      No
1          p           p     p    p         p       p
2   iPhone 8  2017-09-22   4.7  2GB  iOS 11.0      No
3          p           p     p    p         p       p
4          p           p     p    p         p       p
5          p           p     p    p         p       p
6          p           p     p    p         p       p

In [65]:
new_df.iloc[[1, 3], [1, 4]] = 'v'
new_df

  Unnamed: 0         출시일 디스플레이  메모리     출시 버전 Face ID
0   iPhone 7  2016-09-16   4.7  2GB  iOS 10.0      No
1          p           v     p    p         v       p
2   iPhone 8  2017-09-22   4.7  2GB  iOS 11.0      No
3          p           v     p    p         v       p
4          p           p     p    p         p       p
5          p           p     p    p         p       p
6          p           p     p    p         p       p

In [75]:
df = pd.read_csv('iphone.csv', index_col = 0)
df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [76]:
df['제조사'] = 'Apple'

In [77]:
df

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [78]:
df.loc['iPhone XR'] = ['2018-10-26', 6.1, '3GB', 'iOS 12.0.1', 'Yes', 'Apple']

In [79]:
df

                      출시일  디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes  Apple

In [80]:
df.drop('iPhone XR', axis='index', inplace=False)
df

                      출시일  디스플레이  메모리       출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB    iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB    iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB    iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB    iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB    iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB    iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB    iOS 12.0     Yes  Apple
iPhone XR      2018-10-26    6.1  3GB  iOS 12.0.1     Yes  Apple

In [81]:
df.drop('iPhone XR', axis='index', inplace=True)
df

                      출시일  디스플레이  메모리     출시 버전 Face ID    제조사
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No  Apple
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No  Apple
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No  Apple
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No  Apple
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes  Apple
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes  Apple
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes  Apple

In [84]:
df.drop('제조사', axis='columns', inplace=True)

In [85]:
df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

#### index/column 설정

In [86]:
liverpool_df = pd.read_csv('liverpool.csv', index_col=0)
liverpool_df

                Position  Born  Number Nationality
Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [89]:
liverpool_df.rename(columns={'Postion': 'position'}, inplace=True)

In [90]:
liverpool_df

                Position  Born  Number Nationality
Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [91]:
liverpool_df.index.name='Player Name'
liverpool_df

                Position  Born  Number Nationality
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil

In [92]:
liverpool_df.set_index('Number')

       Position  Born Nationality
Number
no. 9        FW  1991      Brazil
no. 10       FW  1992     Senegal
no. 11       FW  1992       Egypt
no. 12       DF  1997     England
no. 13       GK  1992      Brazil

In [93]:
liverpool_df['Player Name'] = liverpool_df.index
liverpool_df

                Position  Born  Number Nationality      Player Name
Player Name
Roberto Firmino       FW  1991   no. 9      Brazil  Roberto Firmino
Sadio Mane            FW  1992  no. 10     Senegal       Sadio Mane
Mohamed Salah         FW  1992  no. 11       Egypt    Mohamed Salah
Joe Gomez             DF  1997  no. 12     England        Joe Gomez
Alisson Becker        GK  1992  no. 13      Brazil   Alisson Becker

In [94]:
liverpool_df.set_index('Number', inplace=True)

In [95]:
liverpool_df

       Position  Born Nationality      Player Name
Number
no. 9        FW  1991      Brazil  Roberto Firmino
no. 10       FW  1992     Senegal       Sadio Mane
no. 11       FW  1992       Egypt    Mohamed Salah
no. 12       DF  1997     England        Joe Gomez
no. 13       GK  1992      Brazil   Alisson Becker